.button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button__body {
  padding: 1.6rem;
  width: 32rem;
  max-width: 100%;
  border: 1px solid var(--var-primary);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}

div + .button {
  margin-top: 1.6rem;
}

@media (hover: hover) and (pointer: fine) {
  .button__body {
    transition: background-color .2s ease-out, color .2s ease-out;
  }

	.button__body:hover {
    color: var(--var-black);
		background-color: var(--var-primary);
	}
}