.footer {
  padding: 0 2rem 3.2rem;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

.footer__embed {
  margin: 0 auto;
  width: 480px;
  max-width: 100%;
}

.footer__copyright {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  text-align: right;
}

main + .footer {
  margin-top: 10.8rem;
}

.footer__embed + .footer__text {
  margin-top: 4rem;
}