:root {
  --color-primary: #51fbaa;
  --color-black: #333;
  --color-gray: #666;
  --color-white: #fff;
  --index-header: 100;
  --index-header-button: 101;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  font-size: 1.2rem;
  letter-spacing: .025em;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  color: inherit;
}

@media (hover: hover) and (pointer: fine) {
  a {
    transition: opacity .2s ease-out;
  }

	a:hover {
		opacity: .75;
    text-decoration: none;
	}
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

p {
  word-break: break-all;
}
