.header {
  position: sticky;
  z-index: var(--var-index-header);
  top: 0;
  padding: 32px 20px;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  backdrop-filter: blur(2px);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__list {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
}

.header__item {
  font-size: 2.0rem;
  font-weight: bold;
}

.header__item a {
  padding: 4px 0;
  text-decoration: none;
}

.header + main {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .header__item:not(:first-child) {
    margin-left: 20px;
  }
}

@media not all and (min-width: 768px) {
  .header__item:not(:first-child) {
    margin-top: 20px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__item a {
    transition: opacity .2s ease-out;
  }

  .header__item a:hover {
    border-bottom: 2px solid var(--var-primary);
    color: var(--var-primary);
  }
}


.header__button {
  position: fixed;
  z-index: 250;
  top: 34px;
  right: 20px;
  padding: 11px;
  width: 80px;
  max-width: 100%;
  border: 1px solid var(--var-primary);
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--var-white);
  background-color: var(--var-black);
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}

@media not all and (min-width: 768px) {
  .header__nav {
    opacity: 0;
    visibility: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px, 0px, 99.9%, 99.9%);
    padding: 0;
    width: 1px;
    height: 1px;

    position: absolute;
    top: 0;
    left: 0;
    border-left: 4px solid var(--var-primary);
    background-color: var(--var-black);
  }

  .header__nav::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    width: 4px;
    height: 100vh;
    background-color: var(--var-white);
  }

  .header__nav.active {
    opacity: 1;
    visibility: visible;
    clip: auto;
    clip-path: none;
    padding: 128px 32px 20px;
    width: 200px;
    height: 100vh;
    left: auto;
    right: 0;
    transition: opacity .3s ease-in-out .1s;

  }

  .header__list {
    flex-wrap: wrap;
  }

  .header__item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__button {
    transition: background-color .2s ease-out, color .2s ease-out;
  }

	.header__button:hover {
    color: var(--var-black);
		background-color: var(--var-primary);
	}
}