.link__outward {
  position: relative;
  margin-right: 20px;
}

.link__outward::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: -15px;
  width: 14px;
  height: 14px;
  background-image: url(/images/arrow_outward_white.svg);
  background-size: cover;
}



.section {
  margin: 0 auto;
}

.section__inner > * {
  margin-top: 32px;
}

.introduction + .section, 
.section + .section {
  margin-top: 96px;
}



.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 32px;
  list-style: none;
}

.item a {
  text-decoration: none;
}

.item__thumbnail {
  font-size: 0;
}

.item__title {
  font-weight: bold;
}

.item__image {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.item__date {
  font-size: 1.2rem;
}

.item__thumbnail + .item__title {
  margin-top: 10px;
}

.item__title + .item__date {
  margin-top: 3px;
}

@media not all and (min-width: 480px) {
  .items {
    grid-template-columns: auto;
  }
}



.group__list {
  padding: 0 16px;
  list-style: none;
}

.group__item {
  display: block;
}

.group__item:not(:first-child) {
  margin-top: 32px;
}

.group__term {
  display: block;
  font-size: 1.2rem;
}

.group__category {
  display: block;
  font-size: 1.2rem;
  color: var(--var-primary);
}

.group__description {
  display: block;
}

.group__name {
  vertical-align: middle;
  font-size: 1.8rem;
  font-weight: bold;
}

.group__status,
.group__service {
  font-size: 1.2rem;
}

.group__position {
  display: block;
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--var-primary);
}

.group__type + .group__name {
  margin-left: 6px;
}

.group__inner + .group__inner {
  margin-top: 24px;
}

p + .group,
.group + .group {
  margin-top: 48px;
}
