.introduction {
  margin: 0 auto;
  max-width: 100%;
  width: 48rem;
}

.introduction__text {
  margin-top: 3.2rem;
}

.introduction__group {
  position: relative;
  margin: 0 auto;
  width: 35rem;
  max-width: 100%;
}

.introduction__figure {
  display: flex;
  justify-content: center;
  position: relative;
}

.introduction__image {
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: filter ease-in-out .3s;
}

.introduction__figure:hover .introduction__image {
  filter: none;
}

.introduction__caption {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 2rem;
  padding: 2.4rem 0;
  width: auto;
  height: 100%;
  writing-mode: vertical-rl;
  font-weight: bold;
  color: var(--color-black);
}

.introduction__comment {
  position: relative;
  border-left: 1px solid var(--color-black);
  text-decoration: none;
}

.introduction__comment::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1.8rem;
  left: -0.2rem;
  transform: rotate(90deg);
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(/images/arrow_outward_black.svg);
  background-size: cover;
}

@media (hover :hover) and (pointer: fine) {
  .introduction__comment:hover {
    border: none;
  }
}