@import "./mixin.scss";

.wrapper {
  margin-bottom: 8rem;

  h1:not([class]) {
    position: relative;
    z-index: -1;
    font-size: 3.2rem;

    &::before {
      content: "";
      display: block;
      height: 12rem;
      margin-top: -12rem;
      visibility: hidden,
    }

    + .section__inner {
      margin-top: 3.2rem;
    }
  }

  h2:not([class]) {
    position: relative;
    z-index: -1;
    padding-left: 1.6rem;
    font-size: 2.4rem;

    &::before {
      content: '';
      display: block;
      height: 12rem;
      margin-top: -12rem;
      visibility: hidden,
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 12rem;
      width: .4rem;
      height: 3.6rem;
      background-color: var(--color-primary);
    }

    + * {
      margin-top: 3.2rem;
    }
  }

  h3:not([class]) {
    + * {
      margin-top: 2.4rem;
    }
  }
  
  ul:not([class]) {
    margin-top: 1.2rem;

    > li {
      position: relative;
      padding-left: 1.5em;
      list-style: none;
    }

    > li::before {
      content: '';
      display: block;
      position: absolute;
      top: .9rem;
      left: .4rem;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: var(--color-primary);
    }
  }
  
  dl:not([class]) {
    padding: 2.4rem;
    border-radius: 4px;
    color: var(--color-black);
    background-color: var(--color-white);

    > div {
      display: flex;
    }

    > div:not(:first-child) {
      margin-top: .8rem;
    }

    > div dt {
      width: 100px;
      font-weight: bold;
    }

    > div dd {
      margin: 0 0 0 1.6rem;
      width: calc(100% - 10rem - 1.6rem);
      overflow-wrap: break-word;
    }
  }

  > * + *,
  section:not([class]) > *:not([class]) + *:not([class]) {
    margin-top: 2rem;
  }

  h1:not([class]),
  h2:not([class]),
  h3:not([class]) {
    margin-top: 5.6rem;
  }
}

.post {
  a:not([class]) {
    @include external-link;
  }
  
  a:not([class])::after {
    @include external-link-after;
  }

  dl:not([class]) {
    a:not([class])::after {
      background-image: url(/images/arrow_outward_black.svg);
      background-size: cover;
    }
  }
}

@media not all and (min-width: 768px) {
  .wrapper {
    font-size: 1.4rem;
    
    h1:not([class]) {
      font-size: 2.4rem;
    }

    h2:not([class]) {
      font-size: 2rem;

      &::after {
        top: 12.1rem;
        height: 3rem;
      }
    }

    h3:not([class]) {
      font-size: 1.6rem;
    }

    h1:not([class]),
    h2:not([class]),
    h3:not([class]) {
      margin-top: 4.0rem;
    }

    ul:not([class]) {
      > li::before {
        top: .7rem;
        left: .4rem;
        width: .5rem;
        height: .5rem;
      }
    }
  }
}