.main {
  font-size: 1.6rem;
}

.main__container {
  padding: 0 1.6rem;
  margin: 0 auto;
  width: 64rem;
  max-width: 100%;
}

@media not all and (min-width: 768px) {
  .main {
    font-size: 1.4rem;
  }
}